h1 {
    padding: 40px;
}

div.menu-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

div.menu-btns button{
    width: 160px;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;

    background-color: lightseagreen;
    border: none;
    border-radius: 80px;
    font-family: montserrat;
    font-size: 1.5rem;
    color: white;
}

div.menu-btns button:hover {
    background-color: darkturquoise;
}

div.logo {
    display: flex;
    gap: 10px;
}

div.logo div.token {
    width: 60px;
    height: 60px;
    border-radius: 34px;
}

div.logo div.token:nth-child(odd) {
    background-color: gold;
}

div.logo div.token:nth-child(even) {
    background-color: red;
}