div.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 2rem;
}

div.scores > div {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
}

div.scores div.yellow .player {
    color: gold;
}

div.scores div.red .player {
    color: red;
}

div.menu button.clear-scores {
    width: auto;
    font-family: montserrat;
    /* background-color: lightcoral; */
}